body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: rgba(244, 237, 225, 1);
}

/*Fonts****************************************************************************************************************************************/

@font-face {
    font-family: "Kotayk";
    src: url("Fonts/Kotayk-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Adska";
    src: url("Fonts/Adksa___.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NorKirk";
    src: url("Fonts/NorKirk.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Vrdznagir";
    src: url("Fonts/Vrdznagir.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "KotaykR";
    src: url("Fonts/Kotayk-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.cormorant {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-armenian {
    font-family: "Noto Sans Armenian", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 100; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/*head****************************************************************************************************************************************/

.h-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -150%;
    object-fit: cover;
    z-index: 1;
}

.head {
    margin: 0 auto;
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 480px;
    overflow: hidden;
    padding: 0;
}

video {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.welcome {
    max-width: 280px;
    width: 100%;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.welcome_img {
    width: 280px;
    height: 100px;
}

.welcome.act {
    animation: 1s Welcome forwards linear;
}

@keyframes Welcome {
    from {
        top: -20%;
    }

    to {
        top: 9%;
    }
}

.Saf {
    margin: 0;
    padding: 0;
    font-family: "Adska", sans-serif;
    font-size: 140px;
    font-weight: 100;
    position: absolute;
    color: rgba(50, 67, 25, 1);
    left: -35%;
    transform: translateX(-50%);
}

.Saf.act {
    animation: 1s Safira forwards linear;
}

@keyframes Safira {
    from {
        left: -35%;
    }

    to {
        left: 45%;
    }
}

.Oneder {
    margin: 0;
    padding: 0;
    font-family: "Adska", sans-serif;
    font-size: 75px;
    font-weight: 100;
    position: absolute;
    color: rgba(50, 67, 25, 1);
    left: -30%;
    transform: translateX(-50%);
    top: 21%;
}

.Oneder.act {
    animation: 1s Oneder forwards linear;
}

@keyframes Oneder {
    from {
        left: -30%;
    }

    to {
        left: 63%;
    }
}

/*Later***************************************************************************************************************************************/


.later {
    margin: auto;
    background-image: url(Images/Backgraound.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* margin-top: 80px; */
    max-width: 480px;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: black;
    transform: translateY(-20%);
    opacity: 0;
    transition: 1s;
    z-index: 12;
}

.d {
    font-family: "Great Vibes";
    font-size: 26px;
    color: rgba(50, 67, 25, 1);
}

.later.active {
    transform: translateY(-0%);
    opacity: 1;
}

.lng-latetext1 {
    font-family: 'Kotayk';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(50, 67, 25, 1);
}

.lng-latetext2 {
    /* margin-top: 27px; */
    color: rgba(50, 67, 25, 1);
    font-family: "Noto Sans Armenian", sans-serif;
    transform: translateY(-5%);
    font-size: 11px;

}

/*imgs****************************************************************************************************************************************/

.imgs {
    margin: auto;
    max-width: 480px;
    transform: translateY(-10%);
    opacity: 0;
    transition: 1s;
}

.imgs.active {
    transform: translateY(0);
    opacity: 1;
}


.line {
    margin: auto;
    overflow: hidden;
    max-width: 480px;
    width: 100%;
    height: 285px;
}

/*Timer****************************************************************************************************************************************/

.times {
    max-width: 480px;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transform: translateY(-10%);
    opacity: 0;
    transition: 1s;
}

.time-untit {
    max-height: 50px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    /* border: #5C2018 2px solid; */
    border-radius: 5px;
    font-size: 38px;
    letter-spacing: 5px;
    font-family: "Inter", sans-serif;
    /* margin-bottom: 15px; */
    color: rgba(50, 67, 25, 1);
    font-weight: 100;
}

.timeName {
    color: rgba(50, 67, 25, 1);
    font-size: 12px;
    font-family: "KotaykR";
    font-weight: 100;
}

.times.active {
    transform: translateY(0);
    opacity: 1;
}

.timerhead {}

.timer {
    margin: auto;
    /* margin-top: -10%; */
    max-width: 480px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-10%);
    opacity: 0;
    transition: 1s;
    z-index: 12;
}

.timer.active {
    transform: translateY(0);
    opacity: 1;
}

.lng-timerhead {
    margin-bottom: 2px;
    font-family: "Noto Sans Armenian", sans-serif;
    font-weight: 400;
    color: rgba(50, 67, 25, 1);
    font-size: 28px;
}

.lng-timerhead_lit {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: "Noto Sans Armenian", sans-serif;
    font-weight: 300;
    color: rgba(61, 82, 30, 0.6);
    font-size: 12px;
}


/*Maps****************************************************************************************************************************************/

.maps {
    margin: -130px auto -80px;
    background-image: url(Images/map_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    max-width: 480px;
    width: 100%;
    height: 1000px;
    z-index: 12;
    color: rgba(61, 82, 30, 1);
}

.place {
    position: relative;
    max-width: 480px;
    width: 100%;
    min-height: 300px;
    height: 320px;
    z-index: 16;
}

#img {
    margin-top: 10px;
}

.placeimg1 {
    max-width: 80px;
    width: 100%;
    height: 65px;
    margin: 10px;
    z-index: 9;
}

.placeimg2 {
    max-width: 120px;
    width: 100%;
    height: 55px;
    margin: 10px;
    z-index: 9;
}

.placetexts {
    margin: auto;
    max-width: 350px;
    width: 100%;
    text-align: center;
}

.placetext {
    font-size: 10px;
    font-family: "Noto Sans Armenian", sans-serif;
    font-weight: 400;
}

.placespan {
    font-size: 10px;
    font-weight: 600;
    font-family: "Noto sans Armenian";
}

.card {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-5%);
    transition: 1s;
}

a {
    text-decoration: none;
    color: black;
}

.map {
    text-align: center;
    border: 1px solid rgba(61, 82, 30, 1);
    padding: 8px 0px;
    border-radius: 10px;
    width: 180px;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 18px;
    color: rgba(61, 82, 30, 1);
}

.mapheader {
    margin-top: 330px;
    font-size: 18px;
    font-family: "Noto Sans Armenian", sans-serif;
    font-weight: 400;
}

.card.active {
    transform: translateY(-5%);
    opacity: 1;
}

.arch {
    width: 320px;
    position: relative;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arch_img {
    width: 350px;
    overflow: hidden;
}

.imp {
    margin: -48px 0 0 0;
    text-align: center;
    color: rgba(61, 82, 30, 0.6);
    font-family: "Noto Sans Armenian", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.imp1 {
    text-align: center;
    color: rgba(61, 82, 30, 0.6);
    font-family: "Noto Sans Armenian", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.Cont {
    width: 100%;
}


.qr {
    max-width: 380px;
    margin: auto;
}

#qr {
    margin: auto;
    max-width: 380px;
    width: 100%;
}

.tg {
    font-family: "Noto Sans Armenian", sans-serif;
    width: 250px;
    height: 40px;
    text-align: center;
    margin: auto;
    background-color: transparent;
    border-radius: 6px;
    color: rgba(61, 82, 30, 1);
    border: rgba(61, 82, 30, 1) 1px solid;
}

.TG {
    max-width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/*********************************************************************************************************************/

.inp {
    /* Input */
    position: relative;
    z-index: 2;
    box-sizing: border-box;

    width: 290px;
    height: 40px;

    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(61, 82, 30, 1);
    border-radius: 12px;
    border-color: #5C201833;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;

}

.inp:focus {

    outline-color: rgba(61, 82, 30, 1);
    border-color: transparent;
}

.inp::placeholder {
    color: white;
    opacity: 1;
}

.inp:not(:placeholder-shown) {
    border-color: rgba(61, 82, 30, 1);
}

p {
    position: relative;
    z-index: 2;
    text-align: center;
}

.rad:checked+label {
    border: 1px solid rgba(61, 82, 30, 1);
    color: rgba(61, 82, 30, 1);
}

.rad {
    display: none;
}

.att {
    position: relative;
    z-index: 2;
    max-width: 290px;
    width: 100%;
    height: 50px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

}

.rad+label {
    /* Component 2 */
    transition: 0.3s;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 130px;
    width: 100%;
    height: 46px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #5C201833;
    color: #5C201833;
    border-radius: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.back_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 380px;
    gap: 12px;
    max-width: 420px;
}


.back {
    max-width: 420px;
    margin-top: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 420px;
    z-index: 1;
}


.block {
    /* Form */
    position: relative;
    z-index: 2;
    margin: 40px auto 0%;
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 26px;

    max-width: 480px;
    width: 100%;
    height: 580px;

    /* background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(92, 32, 24, 0.1); */
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.btn {
    /* Rectangle 29 */
    position: relative;
    z-index: 2;
    border-color: transparent;
    font-size: 16px;
    background-color: rgba(61, 82, 30, 1);
    border-radius: 12px;
    max-width: 360px;
    width: 100%;
    height: 40px;
    color: white;
    transition: 0.3s;
}

/* .btn:hover {
    color: #5C2018;
}

.btn:active {
    background-color: #5C2018;
} */

.rd {
    max-width: 325px;
    width: 100%;
}

.h {
    font-size: 24px;
    color: rgba(61, 82, 30, 1);
    font-family: "Noto Sans Armenian", sans-serif;
    font-weight: 600;
}

.t {
    text-align: start;
    margin: 5px 0;
    font-size: 12px;
    /* font-weight: 600; */
    font-family: "Noto Sans Armenian", sans-serif;

    color: rgba(61, 82, 30, 1);
}

h1 {
    text-align: center;
}

/*Ayan*/

.Mar {
    margin: -50px auto 55px;
}

.b {
    margin: auto;
    max-width: 480px;
    width: 100%;
    position: relative;
}

.c {
    margin: auto;
    max-width: 400px;
    height: 260px;
    width: 100%;
    border-radius: 0% 0% 5% 5%;
}

.ayan {
    position: relative;
    z-index: 2;
    padding-top: 80px;
    max-width: 380px;
    width: 100%;
    height: 250px;
    color: #DEDAD5;
    font-family: "Vrdznagir";
    background-image: url(Images/Mask.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 23px;
    /* line-height: 100px; */
    text-align: center;
    /* background: linear-gradient(rgba(0, 0, 0, 0.2) 100%, rgba(255, 255, 255, 0.05) 30%); */
    /* transform: translateY(10%); */
    z-index: 12;
    opacity: 1;
    margin: 0 auto;
}

.ayan>h2 {
    margin: 0;
}

.logo {
    width: 30%;
    height: 70px;
    margin: 0;
}

h6 {
    font-family: "Noto Serif Armenian";
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    color: #A1A1AA63;
}

.foot {
    transform: translateY(-50%);
    opacity: 0;
    transition: 1.5s 0.3s;
}

.foot.active {
    transform: translateY(0%);
    opacity: 1;
}

.End {
    z-index: 1;
    max-width: 480px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.alert {
    font-family: "Noto Serif Armenian";

    margin: 30px auto 10px;
    max-width: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(91, 97, 66, 0.15);
    border-radius: 10px;
    /* background-color: transparent; */
    color: rgba(91, 97, 66, 1);
}


.palert {
    font-size: 11px;
}

/**********************************************************************/

.imgs1 {
    margin: 0;
    width: 100%;
    display: grid;
    place-items: center;
    background: #f3efe6;
    overflow: hidden;
    font-family: sans-serif;
}

.scene {
    position: relative;
    max-width: 480px;
    width: 100%;
    height: 450px;
}

/* Лента */
.ribbon {
    position: absolute;
    left: -20%;
    width: 140%;
    height: 90px;
    background: #7b8063;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* Диагонали */
.ribbon-a {
    top: 40%;
    transform: rotate(-28deg);
}

.ribbon-b {
    top: 40%;
    transform: rotate(28deg);
}

/* Бегущая строка */
.track {
    display: flex;
    width: max-content;
    white-space: nowrap;
    color: rgba(232, 230, 217, 1);
    animation: marquee 12s linear infinite;
}

.track.reverse {
    animation-direction: reverse;
    color: rgba(91, 97, 66, 0.57);
}

.track span {
    font-family: "Noto Serif Armenian";
    font-weight: 300;
    display: inline-block;
    padding-right: 80px;
    font-size: 60px;
    line-height: 3;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.U {
    width: 50px;
    height: 50px;
}

#startScreen {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    color: white;
    font-size: 32px;
    cursor: pointer;
}


/*Audio****************************************************************************************************************************************/

.au {
    position: absolute;
    z-index: 1;
    top:85%;
    left: 80%;
    margin: auto;
    /* margin-top: 30px; */
    max-width: 480px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-controls {
    position: relative;
}

.audiobtn {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    background-color: transparent;
    z-index: 1000 !important;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none !important;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.audiobtn:hover {
    opacity: 1;
    transform: scale(1.1) !important;
}

.au.act {
    animation: 1s Auido forwards linear;
}

@keyframes Auido {
    from {
        left: 80%;
    }

    to {
        left: 40%;
    }
}

.start {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}


.rd {
    max-width: 360px;
    width: 100%;
}

.h {
    font-size: 24px;
    color: rgba(61, 82, 30, 1);
    font-family: "NorKirk";
    font-weight: 600;
}

.t {
    text-align: start;
    margin: 5px 0;
    font-size: 12px;
    /* font-weight: 600; */
    font-family: "Noto Sans Armenian", sans-serif;

    color: rgba(61, 82, 30, 1);
}

h1 {
    text-align: center;
}

